/*
    Document   : style
    Created on : 01/04/2013, 20:20:26
    Author     : 200920183
    Description:
        Purpose of the stylesheet follows.
*/

html {
	padding: 0; 
	margin: 0; 
	height: 100%;
    font: 12px/20px arial;
    color: #333;
}

body {
	padding: 0; 
	margin: 0; 
	height: 95%;
    font: 12px/20px arial;
    color: #333;
    overflow: hidden;
}

.barra {
	color: #FFF; 
    position: fixed;
	height: 35px;
	width: 100%;
	z-index: 99;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.8);
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	background: #358b10 url(../css/images/ui-bg_gloss-wave_35_358b10_500x100.png) 50% 50% repeat-x;
}

.barra_login {
	display: inline-block;
	min-width: 29%;
	text-align: left;
	float: right;
}

.barra_intervalo {
	display: inline-block;
	width: 36%;
	float: center;
	padding-top: 5px;
}

.logo {
	display: inline-block;
	width: 27%;
	height: 35px;
	text-align: right;
	float: left;
	background: url(../imagens/logo.png) 90% 90% no-repeat;
	background-size: 85px 40px;
}

/* #PÁGINA
   --------------------------------------------*/
   
#inicial_esquerda {
	float: left;
	width: 25%;
	height: 100%;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
   
#inicial_centro {
	float: center;
	width: 45%;
	height: 100%;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

#barra_esquerda {
	padding: 0px;
	float: left;
	text-align: right;
	display: inline-block;
	width: 27%;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid #CCC
}

#barra_esquerda input[type=submit] {
	border: 0px;
	background: #123;
	background-color: #123;
}

#barra_esquerda input[type=submit]:hover {
	background-color: #123;
	color: #FFF;
}

#corpo {
	float: center;
	display: inline-block;
	width: 43%;
	height: 100%;
	overflow: auto;
}

#barra_direita {
	float: right;
	width: 29%;
	display: inline-block;
	text-align: left;
	height: 100%;
	overflow: hidden;
	border-left: 1px solid #CCC
}

#login label {
	width: auto;
}

/*  #SCROLL
    ------------------------------------------*/
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #060; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,160,0,0.4); 
}    

/*  #TABELA
    -------------------------------------------*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td{
    border: solid 1px #DDD;
    padding: 5px;
}
th{
    text-align: left;
    background: #E4E4E4;
}

/*  #FORMULÁRIO
    -------------------------------------------*/
.link,
.formulario_padrao .link {
	cursor: pointer;
    background: none;
	border: 0px;
	padding: 0px;
	height: 20px;
    text-align: left;
}

.link:hover, 
.formulario_padrao .link:hover {
    background: none;
	border: 0px;
	text-align: left;
	height: 20px;
	text-decoration: underline;
}    
    
.formulario_padrao input[type=text],
.formulario_padrao input[type=password],
.formulario_padrao textarea,
.formulario_padrao button{
    padding: 4px;
    border:solid 1px #CCC;
}
.item_retorno_pesquisa button,
.formulario_padrao input[type=submit],
.formulario_padrao input[type=button],
.formulario_padrao input[type=reset],
.formulario_padrao button{
    background: #CCC; /* para browsers sem suporte a CSS 3 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#CCCCCC'); /* IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#CCC)); /* webkit browsers */
    background: -moz-linear-gradient(top,  #FAFAFA,  #CCC); /* Firefox 3.6+ */
    border: 1px solid #CCC;
    padding: 4px;

    -moz-border-radius: 5px;
    border-radius: 5px;

}
.item_retorno_pesquisa button:pressed,
.formulario_padrao input[type=submit]:pressed,
.formulario_padrao input[type=button]:pressed,
.formulario_padrao input[type=reset]:pressed,
.formulario_padrao button:pressed{
    position: relative;
    top: 1px;
    left: 1px;
}

.item_retorno_pesquisa button:hover,
.formulario_padrao input[type=text]:hover,
.formulario_padrao input[type=password]:hover,
.formulario_padrao input[type=submit]:hover,
.formulario_padrao input[type=button]:hover,
.formulario_padrao input[type=reset]:hover,
.formulario_padrao textarea:hover,
.formulario_padrao button:hover{
    border: solid 1px #999;
}
.formulario_padrao input[type=file]{
	display: none;
}
.formulario_padrao input:focus,
.formulario_padrao button:focus{
   border: solid 1px #666;
}
.formulario_padrao label {
    width: 200px;
}
.formulario_padrao .label_radio {
	width: 100px;
}
.formulario_padrao .galeria{
	overflow: hidden;
}
.formulario_padrao .imagem_bloco {
	width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.formulario_padrao .imagem {
	cursor: pointer;
	width: 150px;
    height: 150px;
	border: solid 1px #CCC;
    display: inline-block;
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
.formulario_padrao .imagem:hover {
	border: solid 1px #999;
	opacity: 0.4; 
	filter: alpha(opacity=40);
}
.formulario_padrao .adiciona_imagem {
	background: url(../imagens/adicionar.png) no-repeat center center;
	opacity: 0.4; 
    position: relative;
	width: 150px;
    height: 150px;    
	display: inline-block;    
    margin: 0;
    padding: 0;
	filter: alpha(opacity=40);
}

.formulario_postagem {
	position: relative;
	width: 100%;
	min-height: 40%;
	max-height: 50%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	border-bottom: 1px solid #CCC;
}
.formulario_postagem .texto {
	padding: 5px;
	margin: 0px;
	width: 90%;
	height: 30%;
	background: #FFF;
	overflow: auto;
}
.formulario_postagem .galeria {
	width: 85%;
    height: 85%;
    display: block;
    text-align: center;
    overflow: hidden;
	position: relative;
    margin: 0;
    padding: 5px;
}
.formulario_postagem .imagem {
	max-width: 90%;
	max-height: 40%;
	margin-left: auto;
    margin-right: auto;
	display: inline-block;
	opacity: 0.8; 
	filter: alpha(opacity=80);
}

.formulario_invisivel {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.formulario_menu button {
	cursor: pointer;
    background: #FFF; /* para browsers sem suporte a CSS 3 */
    width: 200px;
	border: 0px;
	padding: 0px;
    text-align: left;
}
.formulario_menu button:hover {
    background: #060; /* para browsers sem suporte a CSS 3 */
    color: #FFF;
}
.formulario_menu_selecionado {
	background: #090;
}

.formulario_anuncio {
	cursor: pointer;
    background: #FFF; /* para browsers sem suporte a CSS 3 */
	border: 0px;
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.8);	
	padding: 15px;
    text-align: left;	
}

.formulario_anuncio:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}

.menu_perfil {
	border-bottom: solid 1px #CCC;
	width: 200px;
}
.previa_perfil,
.formulario_menu .previa_perfil {
    display: inline-block;
    position: relative;
	background: #FFF;
    padding: 0px;
    margin: 0px;
    height: 60px;
}
.previa_perfil img,
.formulario_menu .previa_perfil img {
	width: 50px;
	height: 50px;
}
.previa_perfil :hover,
.formulario_menu .previa_perfil :hover {
	cursor: pointer;
 	background: #FFF; /* para browsers sem suporte a CSS 3 */
 	color: #000; /* para browsers sem suporte a CSS 3 */
	opacity: 0.6; 
	filter: alpha(opacity=60); 	
}
.parte_bloco {
	display: inline-block;
}
.postador {
	position: relative;
	padding-left: 5px;
	padding-top: 5px;
	width: 50px;
	height: 50px;
}
.postador img {
	width: 50px;
	height: 50px;
}
.data_atualizacao {
	font-size: 10px;
	padding-left: 5px;
	opacity: 0.6; 
	filter: alpha(opacity=60);	
}
.intervalo_postagem {
	position: relative;
	padding-left: 5px;
	padding-top: 5px;
	width: 50px;
	height: 10px;
}
.postagem {
	width: 80%;
	height: 30%;
	max-height: 30%;
	max-width: 80%;
}
.postagem img {
	border: solid 1px #CCC;
}
.atencao {
	color: #F00;
}
.barra_central {
	text-align: center;
	height: 30px;	
}
.titulo {
	color: #060;
	font-size: 14px;	
	padding-left: 5px;
	padding-bottom: 0px;
	margin: 0px;
}
#map-canvas {
	width: 99%;
	height: 350px;
	border: solid 1px #CCC;
}
.bloco{
	border-bottom: 1px solid #CCC;
    padding: 15px;
}
.container {
	position: relative;
}
.imagem_barra {
	width: 20px;
	height: 20px;
	border: solid 1px #CCC;
}
.sobrepoe {
	position: absolute;
	z-index: 2;
}
.invisivel {
	display: none;
}
.retorno_pesquisa {
	height: 100px;
	background: #FFF;
	padding: 10px;
	border: solid 1px #CCC;
	z-index:2;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.item_retorno_pesquisa {
	cursor: pointer;
	position: relative;
	color: #000;
	border-bottom: 1px solid #CCC;
	padding: 5px;
}
.item_retorno_pesquisa:hover {
	color: #FFF;
	background: rgb(57, 130, 53);
}
.item_retorno_pesquisa .informacao {
	position: relative;
	width: 60%;
}
.item_retorno_pesquisa img {
	width: 40px;
	height: 40px;
}
.item_retorno_pesquisa button {
	width: 80px;
}
.inferior_direito {
	top: 70%;
	left: 80%;
	position: absolute;
}
.inferior_direito button {
	margin-bottom: 2px;
}
.barra_ferramentas {
	top: 2%;
	left: 88%;
	position: absolute;
	width: 16px;
	height: 64px;
}
.remover {
	top: 2%;
	left: 88%;
	cursor: pointer;
	position: absolute;	
	background: url(../imagens/remover.png) no-repeat center center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 16px;
	height: 16px;
}
.editar {
	top: 35%;
	left: 88%;
	cursor: pointer;
	position: absolute;	
	background: url(../imagens/editar.png) no-repeat center center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 16px;
	height: 16px;
}
.proximo {
	top: 68%;
	left: 88%;
	position: absolute;
	cursor: pointer;
	background: url(../imagens/proximo.png) no-repeat center center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 16px;
	height: 16px;
}
.anterior {
	top: 101%;
	left: 88%;
	position: absolute;
	cursor: pointer;
	background: url(../imagens/anterior.png) no-repeat center center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 16px;
	height: 16px;
}
.incluir {
	background: url(../imagens/incluir.png) no-repeat left center;
	display: inline-block;
	width: 15px;
	height: 15px;
}
.excluir {
	background: url(../imagens/excluir.png) no-repeat left center;
	display: inline-block;
	width: 15px;
	height: 15px;
}
.carregando,
.remover:hover,
.editar:hover,
.proximo:hover,
.anterior:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);    
}
.estrela {
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 20px;
}
.estrela_menor {
	display: inline-block;
	width: 12px;
	height: 12px;
}
.estrela_afetar {
	opacity: 0.6;
	filter: alpha(opacity=60);  	
}
.estrela_nao_marcada {
	background: url(../imagens/estrelan.png) no-repeat left center;
	background-size: 20px 20px;
}
.estrela_menor_nao_marcada {
	background: url(../imagens/estrelan.png) no-repeat left center;
	background-size: 12px 12px;
}
.estrela_marcada {
	background: url(../imagens/estrelam.png) no-repeat left center;
	background-size: 20px 20px;
}
.estrela_menor_marcada {
	background: url(../imagens/estrelam.png) no-repeat left center;
	background-size: 12px 12px;
}