/*
    Document   : style
    Created on : 01/04/2013, 20:20:26
    Author     : 200920183
    Description:
        Purpose of the stylesheet follows.
*/

body, a{
    font: 12px/20px arial;
    color: #333;
    outline: none;
}
h1{
    background-color: #060;
    color: #FFF;
    padding: 5px;
    margin: 15px 0;
}

/*  #TABLE
    -------------------------------------------*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td{
    border: solid 1px #DDD;
    padding: 5px;
}
th{
    text-align: left;
    background: #E4E4E4;
}
.actions{
    width: 50px;
}
.actions a{
    display: block;
    width: 18px;
    line-height: 18px;
    margin-right: 5px;
    text-indent: -9999em;
    float: left;
    border:solid 1px #CCC;
    
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.edit{
    background: url(../imagens/edit.png) no-repeat center center;
    height: 20px;
}
.delete{
    background: url(../imagens/delete.png) no-repeat center center;
    height: 20px;
}

/*  #FORM
    -------------------------------------------*/
input[type=text],
input[type=password],
textarea,
button{
    padding: 4px;
    border:solid 1px #CCC;
}
input[type=submit],
input[type=button],
input[type=reset],
button{
    background: #CCC; /* para browsers sem suporte a CSS 3 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#CCCCCC'); /* IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#CCC)); /* webkit browsers */
    background: -moz-linear-gradient(top,  #FAFAFA,  #CCC); /* Firefox 3.6+ */
    border: 1px solid #CCC;
    padding: 4px;

    -moz-border-radius: 5px;
    border-radius: 5px;

}
input[type=submit]:pressed,
input[type=button]:pressed,
input[type=reset]:pressed,
button:pressed{
    position: relative;
    top: 1px;
    left: 1px;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
textarea:hover,
button:hover{
    border: solid 1px #999;
}
input[type=file]{
	display: none;
}
input:focus,
button:focus{
   border: solid 1px #666;
}
fieldset{
    padding: 20px;
    border:solid 1px #CCC;
}
legend{
    background-color: #060;
    color: #FFF;
    padding: 5px;
    text-transform: uppercase;
}
.block{
    border-top: 1px dotted #CCC;
    padding: 15px;
}
.edicao_galeria{
	width: 770px;
	height: 200px;
	overflow-x: scroll;
}
.imagem_edicao {
	cursor: pointer;
	width: 150px;
    height: 150px;
    overflow: hidden;
	border: solid 1px #CCC;
	cursor: pointer;
}
.imagem_edicao:hover {
	border: solid 1px #999;
	opacity: 0.4; 
	filter: alpha(opacity=40);
}
.adiciona_imagem {
	background: url(../imagens/adicionar.jpg) no-repeat center center;
	opacity: 0.4; 
	filter: alpha(opacity=40);	
}
.sobrepoe {
	position: absolute;
	z-index: 2;	
}
.formulario_invisivel {
	inherit: none;
}
.formulario_menu button {
    background: #FFF; /* para browsers sem suporte a CSS 3 */
    width: 200px;
	border: 0px;
    padding: 0px;

}
.formulario_menu div:hover {
    background: #060; /* para browsers sem suporte a CSS 3 */
    color: #FFF;
}
.formulario_menu button:hover {
    background: #060; /* para browsers sem suporte a CSS 3 */
    color: #FFF;
}
.formulario_padrao label {
    width: 200px;
    
}
.formulario_padrao .label_radio {
	width: 100px;
}
.barra{
	color: #FFF; 
    background-color: #060;
	padding-top: 0px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCC;
	display: absolute;
}
.barra #barra_login{
	padding-left: 200px;
}
.atencao {
	color: #F00;
}
.logo{
	float: up;
	padding-top: 0px;
	padding-right: 50px;
	height: 0px;
}

legend + .block{
    border-top:none;
}
label{
    display: inline-block;
}
.buttons{
    background-color: #F8F8F8;
    border-color: #CCC;
    border-style: dotted;
    border-width: 1px 0;
    padding: 5px;
    position: relative;
    text-align: right;
}
.buttons #btn-back-list{
    left: 5px;
    position: absolute;
    top:5px;
}
/*  Perfil */
.perfil { }
.perfil #barra_esquerda {
	float: left;
	border-right: 1px dotted #CCC;
	padding-left: 200px;
}

#barra_esquerda input[type=submit] {
	border: 0px;
	background: #FFF;
	background-color: #FFF;
}

#barra_esquerda input[type=submit]:hover {
	background-color: #060;
	color: #FFF;
}

.perfil #corpo {
	float: center;
}
.perfil #barra_direita {
	float: right;
	border-left: 1px dotted #CCC;
	padding-right: 200px;
	padding-left: 50px;
}

/*  #NAVIGATION
    -------------------------------------------*/
.nav{
    display: block;
    overflow: hidden;
    background: #E4E4E4;
    padding: 0;
    margin:0 0 20px 0;
}
.nav li{
    float: left;
    list-style-type: none;
}
.nav a{
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #333;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #CCCCCC;
}
.nav a:hover{
    color: #060;
}
.nav .first a{
    border-left: none;
}
.nav .last a{
    border-right: none;
}
.nav .logoff{
    float: right;
    background: #060;
}
.nav .logoff a{
   color: #FFF;
   padding: 0 20px;
}