/*
    Document   : style
    Created on : 01/04/2013, 20:20:26
    Author     : 200920183
    Description:
        Purpose of the stylesheet follows.
*/

html, body {
	padding: 0; 
	margin: 0; 
	height: 100%;
    font: 12px/20px arial;
    color: #333;
    overflow: auto;
}

.barra {
	color: #FFF; 
    background-color: #060;
    position: fixed;
	height: 35px;
	width: 100%;
	z-index: 99;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.8);
	box-shadow: 0 0 5px rgba(0,0,0,0.8);	
}

.barra_login {
	display: inline-block;
	min-width: 29%;
	text-align: left;
	float: right;
}

.barra_intervalo {
	display: inline-block;
	width: 36%;
	float: center;
}

.logo {
	display: inline-block;
	width: 30%;
	text-align: right;
	float: left;
}

/* #PÁGINA
   --------------------------------------------*/
   
#barra_esquerda {
	float: left;
	text-align: right;
	display: inline-block;
	width: 30%;
	height: 100%;
	overflow: auto;
	-webkit-box-shadow: 0px 3px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 3px 2px rgba(0,0,0,0.8);
	box-shadow: 0px 3px 2px rgba(0,0,0,0.8);	

}

#barra_esquerda input[type=submit] {
	border: 0px;
	background: #123;
	background-color: #123;
}

#barra_esquerda input[type=submit]:hover {
	background-color: #123;
	color: #FFF;
}

#corpo {
	float: center;
	display: inline-block;
	width: 40%;
	height: 100%;
	overflow: auto;
}

#barra_direita {
	float: right;
	width: 29%;
	display: inline-block;
	text-align: left;
	height: 100%;
	overflow: auto;
	-webkit-box-shadow: 0px 3px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 3px 2px rgba(0,0,0,0.8);
	box-shadow: 0px 3px 2px rgba(0,0,0,0.8);	
}

.anuncio {
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.8);	
	padding: 15px;
}

#login label {
	width: auto;
}

/*  #TABELA
    -------------------------------------------*/
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th, td{
    border: solid 1px #DDD;
    padding: 5px;
}
th{
    text-align: left;
    background: #E4E4E4;
}

/*  #FORMULÁRIO
    -------------------------------------------*/
.formulario_padrao input[type=text],
.formulario_padrao input[type=password],
.formulario_padrao textarea,
.formulario_padrao button{
    padding: 4px;
    border:solid 1px #CCC;
}
.formulario_padrao input[type=submit],
.formulario_padrao input[type=submit],
.formulario_padrao input[type=button],
.formulario_padrao input[type=reset],
.formulario_padrao button{
    background: #CCC; /* para browsers sem suporte a CSS 3 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#CCCCCC'); /* IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#CCC)); /* webkit browsers */
    background: -moz-linear-gradient(top,  #FAFAFA,  #CCC); /* Firefox 3.6+ */
    border: 1px solid #CCC;
    padding: 4px;

    -moz-border-radius: 5px;
    border-radius: 5px;

}
.formulario_padrao input[type=submit]:pressed,
.formulario_padrao input[type=button]:pressed,
.formulario_padrao input[type=reset]:pressed,
.formulario_padrao button:pressed{
    position: relative;
    top: 1px;
    left: 1px;
}
.formulario_padrao input[type=text]:hover,
.formulario_padrao input[type=password]:hover,
.formulario_padrao input[type=submit]:hover,
.formulario_padrao input[type=button]:hover,
.formulario_padrao input[type=reset]:hover,
.formulario_padrao textarea:hover,
.formulario_padrao button:hover{
    border: solid 1px #999;
}
.formulario_padrao input[type=file]{
	display: none;
}
.formulario_padrao input:focus,
.formulario_padrao button:focus{
   border: solid 1px #666;
}

.formulario_invisivel {
	inherit: none;
}
.formulario_menu button {
    background: #FFF; /* para browsers sem suporte a CSS 3 */
    width: 200px;
	border: 0px;
    padding: 0px;

}
.formulario_menu button:hover {
    background: #060; /* para browsers sem suporte a CSS 3 */
    color: #FFF;
}
.formulario_padrao label {
    width: 200px;
    
}

.formulario_padrao .label_radio {
	width: 100px;
}

.atencao {
	color: #F00;
}

.edit{
    background: url(../imagens/edit.png) no-repeat center center;
    height: 20px;
}
.delete{
    background: url(../imagens/delete.png) no-repeat center center;
    height: 20px;
}


fieldset{
    padding: 20px;
    border:solid 1px #CCC;
    width: 38,5%;
}
legend{
    background-color: #060;
    color: #FFF;
    padding: 5px;
    text-transform: uppercase;
}
.block{
	border-bottom: 1px solid #CCC;
    padding: 15px;
}
.edicao_galeria{
	overflow: hidden;
}
.imagem_bloco {
	width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
.imagem_edicao {
	cursor: pointer;
	width: 150px;
    height: 150px;
	border: solid 1px #CCC;
    display: inline-block;
	opacity: 0.8; 
	filter: alpha(opacity=80);
}
.imagem_edicao:hover {
	border: solid 1px #999;
	opacity: 0.4; 
	filter: alpha(opacity=40);
}
.imagem_barra {
	width: 20px;
	height: 20px;
	border: solid 1px #CCC;
}
.adiciona_imagem {
	background: url(../imagens/adicionar.png) no-repeat center center;
	opacity: 0.4; 
    position: relative;
	width: 150px;
    height: 150px;    
	display: inline-block;    
    margin: 0;
    padding: 0;
	filter: alpha(opacity=40);
}
.sobrepoe {
	position: absolute;
	z-index: 2;
}
.remover {
	top: 3px;
	left: 130px;
	position: absolute;
	cursor: pointer;
	background: url(../imagens/remover.png) no-repeat center center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 16px;
	height: 16px;
}
.remover:hover {
	opacity: 0.8; 
	filter: alpha(opacity=80);
}

legend + .block{
    border-top:none;
}
label{
    display: inline-block;
}
/*  Perfil */