<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>les20131</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>Login</display-name>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>br.com.les20131.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>ModuloUsuario</display-name>
  <servlet>
    <servlet-name>ModuloUsuarioController</servlet-name>
    <servlet-class>br.com.les20131.controller.ModuloUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuloUsuarioController</servlet-name>
    <url-pattern>/Usuario</url-pattern>
  </servlet-mapping>
  <display-name>Erro</display-name>
  <servlet>
    <servlet-name>ErroController</servlet-name>
    <servlet-class>br.com.les20131.controller.ErroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErroController</servlet-name>
    <url-pattern>/Erro</url-pattern>
  </servlet-mapping>
  <display-name>ModuloViajante</display-name>
  <servlet>
    <servlet-name>ModuloViajanteController</servlet-name>
    <servlet-class>br.com.les20131.controller.ModuloViajanteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuloViajanteController</servlet-name>
    <url-pattern>/Viajante</url-pattern>
  </servlet-mapping>
  <display-name>ModuloViagem</display-name>
  <servlet>
    <servlet-name>ModuloViagemController</servlet-name>
    <servlet-class>br.com.les20131.controller.ModuloViagemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuloViagemController</servlet-name>
    <url-pattern>/Viagem</url-pattern>
  </servlet-mapping>
  <display-name>ModuloAdminUsuario</display-name>
  <servlet>
    <servlet-name>ModuloAdminUsuarioController</servlet-name>
    <servlet-class>br.com.les20131.controller.ModuloAdminUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuloAdminUsuarioController</servlet-name>
    <url-pattern>/AdminUsuario</url-pattern>
  </servlet-mapping>
  <display-name>ModuloAdminViajante</display-name>
  <servlet>
    <servlet-name>ModuloAdminViajanteController</servlet-name>
    <servlet-class>br.com.les20131.controller.ModuloAdminViajanteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuloAdminViajanteController</servlet-name>
    <url-pattern>/AdminViajante</url-pattern>
  </servlet-mapping>
  <display-name>PesquisaController</display-name>
  <servlet>
    <servlet-name>PesquisaController</servlet-name>
    <servlet-class>br.com.les20131.controller.PesquisaControllerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PesquisaController</servlet-name>
    <url-pattern>/Pesquisa</url-pattern>
  </servlet-mapping>  
</web-app>